<div>
  <h1>Greek Orthodox Fasting Restrictions for <%= @fasting_days.first.date.strftime("%B") %></h1>
  <div class="calendar">
    <% @fasting_days.each do |fasting_day| %>
      <div id="day-<%= fasting_day.date.day %>" class="calendar-day">
        <p><%= fasting_day.date.day.ordinalize %></p>
        <p><%= fasting_day.get_readable_restriction %></p>
      </div>
    <% end %>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var date = new Date().getDate();
    var id = 'day-' + date;
    var today = document.getElementById(id);
    today.classList.add('today');

    today.scrollIntoView({
        block: 'center',
        behavior: 'smooth'
    });
  }, false);
</script>
